# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/

# Database
*.db

# Downloaded PDFs
backend/pdfs/*.pdf
backend/app/pdfs/*.pdf

# Environment
.env

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/
.DS_Store
